.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #85B48C; /* Light green background */
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Add scrollbar if content exceeds height */
    font-family: 'Roboto', sans-serif; /* Apply Roboto font */
  }
  
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
  }
  
  button {
    background-color: transparent;
    border: none;
    color: #000; 
    cursor: pointer;
    padding: 12px; /* Increased padding */
    margin-bottom: 10px;
    transition: background-color 0.3s;
    text-align: left; /* Align button text to the left */
    font-size: 16px; /* Increased font size */
  }
  
  button.active {
    background-color: #689f38; /* Darker green for active button */
  }
  
  button:hover {
    background-color: #689f38; /* Darker green on hover */
  }
  
  /* Style the active button text differently */
  button.active {
    font-weight: bold;
  }
  
  /* Style for the separator */
  .separator {
    margin: 10px 0; /* Add space above and below the line */
  }
  