/* App.css or wherever your global styles are defined */

.homeContainer {
    position: relative;
    width: 100%; /* Ensures the container takes full width */
  }
  
  .homeContainer header {
    display: flex;
    justify-content: flex-end; /* Aligns children (login button) to the right */
    padding: 20px; /* Adds some spacing inside the header */
    box-sizing: border-box; /* Includes padding in the width calculation */
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .loginButton {
    padding: 8px 16px;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  .top-right {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px; /* Adds space from the top right corner */
    text-align: right;
  }

.grid-container {
    margin-top: 50px; /* Ensure there's space below the button if needed */
    width: 100%;
}
  
/* Styles.css */
.flex-container {
    display: flex;
    height: 100%; /* Adjust height as necessary */
}

.sidebar {
    width: 250px; /* Adjust based on your actual sidebar width */
    flex-shrink: 0; /* Prevents the sidebar from shrinking */
}

.main-content {
    flex-grow: 1; /* Takes up the remaining space */
    position: relative; /* For positioning top-right elements absolutely within */
}

